body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7c6d9;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #ff6fae;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(250, 250, 250, 0.2);
}


.calc-title {
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

.display {
    background: #f8a8c8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    overflow-x: auto;
    white-space: nowrap;
}

#result {
    color: rgb(0, 0, 0);
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}


button:not(.operator):not(.equals):not(.clear) {
    background: white;
}

.operator {
    background: #d9d9d9;
}

.clear {
    background: #ffb3b3;
}


.equals {
    grid-column: span 4;
    background: #b3ddff;
    font-size: 22px;
}

button:hover {
    opacity: 0.85;
}

button:active {
    transform: scale(0.95);
}


.calc-footer {
    text-align: center;
    margin-top: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
